<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> </title>
  </head>
  <body>
    <%= current_user.email %>

    <a class="button" href="/bands/new">New band</a>

  </body>
</html>
